<app-adcionar-contato />
@if (contatos().length > 0) {
<div class="m-8 relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">
          Nome
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Telefone
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Email
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Aniversário
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Tipo de contato
        </th>
      </tr>
    </thead>
    <tbody>
      @for (contato of contatos().values(); track contato.nome) {
        <tr class="bg-neutral-primary border-b border-default">
          <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
            {{ contato.nome }}
          </th>
          <td class="px-6 py-4">
            {{ contato.telefone }}
          </td>
          <td class="px-6 py-4">
            {{ contato.email }}
          </td>
          <td class="px-6 py-4">
            {{ contato.aniversario.getDate() }}/{{ contato.aniversario.getMonth() + 1 }}/{{ contato.aniversario.getFullYear() }}
          </td>
          <td class="px-6 py-4">
            @switch (contato.tipo) {
              @case ('{tipoContato.Familia}') {
                Família
              }
              @case ('{tipoContato.Amigo}') {
                Amigo
              }
              @case ('{tipoContato.Trabalho}') {
                Trabalho
              }
              @case ('{tipoContato.Pessoal}') {
                Pessoal
              }
              @default {
                Outros
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
}

<router-outlet />
